<br />
<h1 class="info text-center">
    Ads Pending Approval
</h1>
<br />

<p id="adminViewLoading">Loading...</p>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Ad Title</th>
            <th scope="col">Ad Creator</th>
            <th scope="col">Ad Category</th>
            <th scope="col">Ad Content</th>
            <th scope="col">Ad ImageURL</th>
            <th scope="col">Approve Ad</th>
            <th scope="col">Deny Ad</th>
        </tr>
    </thead>
    <tbody id="tbodyAdmin"></tbody>
</table>
<script src="../scripts/adminLoad.js"></script>
<script>fillTableAdmin();</script>
