<br />
<h1 class="info text-center">
    My Ads
</h1>
<br />
<p id="loadingMyAds">Loading...</p>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Ad Title</th>
            <th scope="col">Ad Category</th>
            <th scope="col">Ad Content</th>
            <th scope="col">Status</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody id="tbodyMine"></tbody>
</table>
<script src="../scripts/loadAllMine.js"></script>
<script>fillTable();</script>
