<br />
<h1 class="info text-center">
    All Ads
</h1>
<br />
<div class="form-group" style="margin-left:30%;margin-right:30%;">
    <input type="text" class="form-control" id="searchForAds" placeholder="Search...">
    <button type="submit" class="btn btn-primary" id="search-button">Search</button>
</div>
<p id="loadingAllAds">Loading...</p>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Ad Title</th>
            <th scope="col">Ad Creator</th>
            <th scope="col">Ad Category</th>
            <th scope="col">Ad Content</th>
        </tr>
    </thead>
    <tbody id="tbody">
    </tbody>
</table>
<script src="../scripts/loadAll.js"></script>
<script>fillTable();</script>
